@import "element-plus/dist/index.css";
@import 'fonts';


html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}

body, h1, h2, h3, h4, h5, p {
  margin: 0
}

a {
  background-color: transparent
}


html {
  line-height: 1.5
}

*, :after, :before {
  box-sizing: border-box;
  border: 0 solid #e2e8f0
}

a {
  color: inherit;
  text-decoration: inherit
}

.main{
  background-color:   #1A202C;
  width: 100vw;
  height: 100vh;
}